<div class="file-tree">
  <!--<div class="search">-->
  <!--<label>-->
  <!--<input type="text" bind.=".newClassName" onkeydown-enter.=".addClass(.newClassName);">-->
  <!--</label>-->
  <!--<button onaction.=".addClass(.newClassName);" tabindex="0">Create</button>-->
  <!--</div>-->
  <jf.file-tree.node view.="'Jf.FileTree.Node'" model.="node: .root"></jf.file-tree.node>
</div>
<script type="html/template" id="Jf.FileTree.Node">
  <div class="row tree-pkg" tabindex="0"
       onkeydown-right.=".expand = true;" onkeydown-left.=".expand = false;" hover.=".hover"
       class.="node==tree.currNode ? 'selected' : ''" onaction.="tree.selectNode(node)"
       onkeydown-down.="tree.focusNext();" onkeydown-up.="tree.focusNext(true);">
    <i class="fa fa-caret-right" show.=".hasChild(.packages, .classes) && !.expand" onclick.=".expand = true"></i>
    <i class="fa fa-caret-down" show.=".hasChild(.packages, .classes) && .expand" onclick.=".expand = false"></i>
    <span text.=".name"
          ondblclick.="tree.startRename(node)" show.="!.rename"></span>
    <input type="text" bind.=".newName" if.=".rename"
           watch.="node.rename: tree.focus(this)" onkeyup-esc.="tree.cancelRename(node)"
           onblur.onkeydown-enter.="tree.renameNode(node, this);" onfocus.="this.select()">
    <div class="gadget" show.=".hover">
      <a class="fa fa-folder-o" show.=".classes" onaction.="tree.addPackage(node)"></a>
      <a class="fa fa-file-code-o" show.=".classes" onaction.="tree.addClass(node)"></a>
      <a class="remove" onaction.="tree.removePackage(.ref)">&#215</a>
    </div>
  </div>
  <div show.=".expand">
    <ul>
      <li for.="node: node.packages" view.="'Jf.FileTree.Node'" class="pkg"></li>
      <li for.="node: node.classes" view.="'Jf.FileTree.Node'" class="cls"></li>
    </ul>
  </div>
</script>
