<script type="html/template" id="file_tree_item">
  <div class="tree-pkg" tabindex="0">
    <span text.="pkg.name"></span>
    <div class="gadget">
      <a class="addPkg" tabindex="0" onaction.="jf.addPackage(pkg.ref)">+</a>
      <a class="add" tabindex="0" onaction.="jf.addClass(pkg, pkg.name)">+</a>
      <a class="remove" tabindex="0" onaction.="jf.removePackage(pkg.ref)">&#215</a>
    </div>
  </div>
  <ul>
    <li for.="pkg: pkg.packages" view.="'file_tree_item'"></li>
  </ul>
  <ul>
    <li for.="clazz: pkg.classes" class.="i==jf.selIndex ? 'selected' : ''"
        onaction.="jf.selClass=clazz; jf.selIndex=i" tabindex="0">
      <span text.="clazz.name" show.="!clazz.edit"></span>
      <input type="text" bind.="clazz.name" show.="clazz.edit" onkeydown-enter.="jf.renameClass(clazz.name);">
      <a class="remove" onaction.="jf.removeClass(clazz.ref)" tabindex="0">&#215</a>
    </li>
  </ul>
</script>

<div class="class-sec">
  <div class="search">
    <label>
      <input type="text" bind.=".newClassName" onkeydown-enter.=".addClass(.newClassName);">
    </label>
    <button onaction.=".addClass(.newClassName);" tabindex="0">Create</button>
  </div>
  <div view.="'file_tree_item'" model.="pkg: .fileTree"></div>
</div>
