* {
  outline-width: 1px;
}

body {
  min-width: 1200px;
  font-family: 'Lato', sans-serif;
}

.header h2 {
  color: #2b81af;
}

.offline {
  color: darkred;
}

.class-sec, .class-sec .search, .class-sec .search input {
  background: midnightblue;
  color: white;
}

.class-sec .search input {
  width: 75%;
  padding: 5px;
}

.class-sec .search button {
  background-color: #0B8873;
  color: white;
  border-radius: 5px;
  padding: 2px 5px;
}

.class-sec .search {
  width: 100%;
}

.class-sec ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.class-sec ul li, .class-sec .search {
  font-size: 15px;
  padding: 2px 5px;
  cursor: pointer;
}

.class-sec ul li.selected {
  background-color: #2b81af;
}

.tree-pkg .gadget {
  display: none;
  color: white;
  position: absolute;
  right: 5px;
}
.tree-pkg:hover .gadget {
  display: inline-block;
}

.tree-pkg .gadget a {
  margin: 2px;
}

.class-sec ul li:hover .remove {
  right: 5px;
}

.side-panel {
  display: table-cell;
  vertical-align: top;
  overflow-y: auto;
  min-width: 400px;
}

.editor {
  display: table-cell;
  vertical-align: top;
  border: 1px solid #DDDDDD;
  width: 100%;
}

.top-panel {
  float: right;
}

.run {
  padding: 10px 25px;
  font-size: large;
  border-radius: 10px;
  background-color: #0B8873;
  color: white;
  margin-right: 7px;
}

.run:disabled {
  background-color: #CCCCCC;
}

a {
  text-decoration: none;
  color: #216C84;
  cursor: pointer;
}

.client {
  font-size: smaller;
}

.class-sec > .button {
  display: inline-block;
}

.java-src textarea {
  width: 800px;
  height: 400px;
}

.err {
  color: red;
}

/*
.editor {
	border: 1px solid green;
}
.editor .w {
	color: blue;
}
.editor .p {
	color: grey;
}
.editor .n {
	color: green;
}
.editor span[t="n"] {
	color: red;
}
.editor .rw{
	color: #86001c;
}
 */
